<h1>News Aggregator Plus</h1>

<div class="grid-x">
  <div class="cell small-3" id="articles">
    <h4><a href="<%= @article.url %>" target="_blank"><%= @article.title %></a></h4>
    <p><%= @article.description %></p>
  </div>
</div>
