<%= partial :error%>

<form action="/new" method="post">
  <h3>Submit A New Article:</h3>
  <label for="title_new">Title:</label>
  <input type="text" id="title_new" name="title_new" value="<%= @title_new %>" ><br />
  <label for="description_new">Description:</label>
  <input type="text" id="description_new" name="description_new" value="<%= @description_new %>" ><br />
  <label for="url_new">URL:</label>
  <input type="text" id="url_new" name="url_new" value="<%= @url_new %>" ><br />
  <input type="submit">
</form>
<a href="/">Go Back to Articles</a>
