body {
  background-color: #F7F7F7;
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
}

h1 {
  font-family: 'Fjalla One', sans-serif;
}

#articles {
  background-color: #C7C7CC;
  border: 5px outset;
  margin: 5px;
}

#articles p {
  font-size: 0.7em;
  font-family: 'Roboto', sans-serif;
}

#home{
  display: block;
  width: 100%;  
}
